azure-identity==1.19.0
beautifulsoup4==4.12.3
langchain==0.3.13
langchain_experimental==0.3.4
langchain_openai==0.2.14
langdetect==1.0.9
numpy==1.26.4
openai==1.58.1
pandas==2.2.3
pyarrow==14.0.2
tiktoken==0.8.0
tqdm==4.66.1
idna==3.10
